<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <h2 class="title">Ask me anything</h2>
    <form>
      <div class="row">
        <div class="col-md-12">
          <div [class]="formGroupClass">
            <div *ngIf="!isEmailValid" class="form-control-feedback">Please, enter a valid email so I can answer you 😎</div>
            <input #emailAddress type="email" class="form-control form-control-success" placeholder="Your email address" (keyup)="validateEmailAddress()">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <textarea #message class="form-control" rows="4" placeholder="Hi 👋! Feel free to ask me anything" (keyup)="validateMessage()"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6 ml-auto mr-auto">
    <button class="btn btn-success btn-round" (click)="sendMessage()">
      Send message
      <i class="fa fa-paper-plane"></i>
    </button>
  </div>
</div>