<div class="card-container">
  <mat-card *ngFor="let project of projects" class="custom-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{project.name}}</mat-card-title>
      <mat-card-subtitle>I am the subtitle</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="project.imgUrl" alt="project image">

    <mat-card-content>
      {{project.description}}
    </mat-card-content>
    <mat-card-actions class="custom-card-actions">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
