<div class="container">
  <div class="filter-container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group has-success">
          <input #projectFilter type="text" class="form-control form-control-success" placeholder="Filter the list of projects by project's name, description, programming language or topics"
            (keyup)="filter(projectFilter.value)">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-container">
  <div *ngFor="let project of filteredProjects" class="custom-card">
    <div class="card-header">
      <!-- TODO: add programming language to project card content -->
      <h5 class="card-title">
        {{project.name}}
      </h5>
      <div class="custom-card-topics">
        <span *ngFor="let topic of project.topics" class="label label-info">
          {{topic}}
        </span>
      </div>
    </div>
    <img class="card-img-top" [src]="project.imgUrl" (error)="project.imgUrl='/assets/img/fake.jpg'" alt="project image">
    <div class="custom-card-body">
      <div class="card-text">{{project.description}}</div>
      <div class="custom-card-actions">
        <div *ngIf="project.githubUrl">
          <a [href]="project.githubUrl" class="btn btn-round" target="_blank">
            <i class="fa fa-github"></i> View on Github
          </a>
        </div>
        <div *ngIf="project.websiteUrl">
          <a [href]="project.websiteUrl" class="btn btn-round" target="_blank">
            <i class="fa fa-desktop"></i> Live Demo
          </a>
        </div>
      </div>
    </div>
  </div>