<mat-toolbar color="primary" class="custom-toolbar">
  <mat-toolbar-row>
    <span>
      <button mat-icon-button (click)="sidenavLeft.toggle()" matTooltip="Menu" matTooltipPosition="below">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span>{{title}}</span>
    <span>
      <button mat-icon-button matTooltip="Settings" matTooltipPosition="below">
        <mat-icon>settings</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Main app container -->
<mat-sidenav-container class="custom-sidenav-container">


  <mat-sidenav #sidenavLeft position="start" mode="side">
      <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/projects">Projects</a>
  </mat-sidenav>


  <mat-sidenav-content>
    <!-- Main app content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
