<div class="row">
  <div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title">
      Featured projects 
    </h2>
  </div>
</div>
<div class="row section-featured-projects" >
  <div *ngFor="let project of projects" class="col-md-4 ml-auto mr-auto text-center">
    <img [src]="project.img" alt="project image" class="img-rounded img-responsive">
    <br><br>
    <a [href]="project.url" target="_blank" class="btn btn-outline-neutral btn-round">
      {{project.name}}
    </a>
  </div>
</div>
