<div class="wrapper">
  <div class="page-header" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <img src="assets/img/angular2-logo.png" alt="">
          </div>
          <h1 class="presentation-title">Blockost</h1>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
          </div>
        </div>

        <h2 class="presentation-subtitle text-center">Strive for Excellence</h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <!--<h6 class=" category-absolute ml-auto mr-auto">Designed and coded by Blockost
    </h6>-->
  </div>
  <div class="page-header page-header-small" data-parallax="true" style="background-image: url('../assets/img/login-image.jpg');">
    <div class="filter-reverse"></div>
</div>
<div class="section profile-content">
    <div class="container">
        <div class="owner">
            <div class="avatar">
                <img src="../assets/img/faces/simon_espigole.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
            <div class="name">
                <h4 class="title">Simon Espigolé (Blockost)<br /></h4>
                <h6 class="description">Software Developer</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <p class="text-justify">
                  Hi! I'm Simon, a young, passionate and (hopefully) talented software developer.
                  I do mostly full-stack web development but I'm pretty much interested about 
                  everything related to computer science including but not limited to these very cool
                  things: 
                  <!-- TODO 22-12-2017 find relevant URL for these fields -->
                  <a href="" target="_blank">WebGL</a>,
                  <a href="" target="_blank">DevOps</a>, 
                  <a href="https://martinfowler.com/bliki/ImmutableServer.html" target="_blank">Immutable Servers</a>,
                  <a href="" target="_blank">Deep Learning</a> 
                  and <a href="" target="_blank">Natural Language Processing</a>. 
                </p>
                <br>
                <p>
                  If I have aroused your interest and you want to learn more about me, you can either
                  keep scrolling this page or go visit directly the project section.
                </p>
                <br />
                <a routerLink="/projects" class="btn btn-outline-default btn-round">
                  <i class="fa fa-code-fork"></i>See my projects
                </a>
            </div>
        </div>
    </div>
</div>
  <div class="main">
    <div class="section section-dark">
      <div class="container">
        <div class="row example-page">
          <div class="col-md-6 text-center" routerLinkActive="active">
            <a [routerLink]="['/landing']">
              <img src="../../assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
              <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
            </a>
          </div>

          <div class="col-md-6 text-center" routerLinkActive="active">
            <a [routerLink]="['/user-profile']">
              <img src="../../assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
              <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Do you like what you see?</h2>
            <p class="description">Cause if you do, it can be yours for Free. Hit the button below and download it. Start a new project or give
              an old Bootstrap 4 project a new look.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 download-area ml-auto mr-auto">
            <a href="https://www.creative-tim.com/product/paper-kit-2" class="btn btn-warning btn-round">Download free HTML</a>
            <a href="https://www.creative-tim.com/product/paper-kit-2-angular" class="btn btn-danger btn-round">Download free Angular</a>
          </div>
        </div>
        <div class="row justify-content-md-center sharing-area text-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3>Thank you for supporting us!</h3>
          </div>
          <div class="text-center col-md-12 col-lg-8">
            <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
              <i class="fa fa-twitter"></i> Twitter
            </a>
            <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
              <i class="fa fa-google-plus"></i> Google
            </a>
            <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
              <i class="fa fa-facebook-square"></i> Facebook
            </a>
            <a href="https://github.com/creativetimofficial/paper-kit" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip"
              title="Star on Github">
              <i class="fa fa-github"></i> Star
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
