<div class="wrapper">
  <div class="page-header" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter-gradient"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Blockost</h1>
          <div class="fog-low">
            <img src="/assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
          </div>
        </div>
        <h2 class="presentation-subtitle text-center">Strive for Excellence</h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>
  <div class="page-header page-header-small" data-parallax="true" style="background-image: url('../assets/img/mountains.jpg');">
    <div class="filter-gradient-reverse"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <!-- TODO: 2018-07-01 Add logo -->
          <img src="/assets/img/faces/simon_espigole.jpg" class="img-circle img-no-padding img-responsive" alt="Simon Espigolé">
        </div>
        <div class="name">
          <h4 class="title">Simon Espigolé (Blockost)
            <br />
          </h4>
          <h6 class="description">Software Developer</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p class="text-justify">
            Hi! I'm Simon, a young, passionate and (hopefully) talented software developer. I do mostly full-stack web development but
            I'm pretty much interested about everything related to computer science including but not limited to these very
            cool things:
            <a href="https://github.com/Blockost/FMIF" target="_blank">WebGL</a>,
            <a href="https://www.pluralsight.com/courses/implementing-devops-real-world" target="_blank">DevOps</a>,
            <a href="https://martinfowler.com/bliki/ImmutableServer.html" target="_blank">Immutable Servers</a>,
            <a href="https://www.udacity.com/course/deep-learning--ud730" target="_blank">Deep Learning</a>
            and
            <a href="https://nlp.stanford.edu/" target="_blank">Natural Language Processing</a>.
          </p>
          <br>
          <p>
            If I have aroused your interest and you want to learn more about me, you can either keep scrolling this page or go visit directly the project section.
          </p>
          <br />
          <a routerLink="/projects" class="btn btn-outline-default btn-round">
            <i class="fa fa-code-fork"></i>See my projects
          </a>
        </div>
      </div>      
    </div>
  </div>
  <!-- TODO: 2019-01-15 Blockost -->
  <!-- Add featured projects here + make it look nice -->
  <app-featured-projects></app-featured-projects>
  <div class="main">
    <div class="section-teal-dark">
      <app-vertical-timeline></app-vertical-timeline>
    </div>
  </div>
  <div class="section">
    <div class="container text-center">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>