<div class="wrapper">
  <div class="page-header">
    <div class="filter-darker"></div>
    <video id="video-background" autoplay muted loop>
      <source src="/assets/videos/flood-barrier.mp4" type="video/mp4" />
    </video>
    <div class="container">
      <div class="row text-white">
        <div class="col-md-8 ml-auto mr-auto text-center above-all">
          <h2 class="title">Projects</h2>
          <p>
            Please, note that this list of projects is automatically updated
            based on the public repositories hosted on my personal
            <a href="https://github.com/Blockost/portfolio" target="_blank"
              >GitHub</a
            >
            account. Its order and content are set to reflect my actual work (in
            progress). For featured projects, head to the
            <a href="/home/#featured-projects">featured projects</a> section.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-project-list></app-project-list>
</div>
