<div class="wrapper">
  <div class="page-header">
    <div class="filter-darker"></div>
    <video id="video-background" autoplay muted loop>
      <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761"
        type="video/mp4">
    </video>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Projects</h2>
          <p class="section-description-white">
            These are very awesome projects I made all by myself or I collaborated on. 
          </p>
          <p class="section-description-white">You should definitely check them out!</p>
        </div>
      </div>
    </div>
  </div>
  <app-project-list></app-project-list>
</div>
