#video-background {
    /*  making the video fullscreen  */
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
}

.section-description-white {
    color: #ffffff;
}