<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/desert-404.jpeg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Oups... Robots behind Internet can't find the page you want!</h1>
      <h3>What about these two ?</h3>
      <br />
      <a routerLink="/home" class="btn btn-outline-neutral btn-round">Home</a>
      <a routerLink="/projects" class="btn btn-outline-neutral btn-round">Projects</a>
    </div>
  </div>
</div>
