/*
* Custom style for selection highlight
*/

::-moz-selection {
  color: red;
  background: rgba($color: #ffffff, $alpha: 0);
}

::selection {
  color: red;
  background: rgba($color: #ffffff, $alpha: 0);
}
